<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BURGUESÍA GOURMET- REGISTRO</title>
    <link href="../css/style.css" rel="stylesheet">
    <link rel="icon" href="../img/logo.png">
</head>

<body>
    <!--Header-->
    <header id="cabecera">
        <div class="logo"></div>
        <div class="marca">
            <h1>BURGUESÍA GOURMET</h1>
        </div>
        <!--NAV-->
        <nav id="botonera">
            <ul>
                <li><a href="../../index.html">INICIO</a></li>
                <li><a href="">CLÁSICAS</a></li>
                <li><a href="">PREMIUM</a></li>
                <li><a href="../views/extra.html">EXTRA</a></li>
                <li><a href="../views/formulario.html" target="_blank">REGISTRO</a></li>
            </ul>
        </nav>
        <nav id="redes">
            <ul>
                <li><a href=""><img src="../img/instagram.png" alt="Instagram"></li>
                <li><a href=""><img src="../img/facebook.png" alt="Facebook"></li>
            </ul>
        </nav>
    </header>

    <!--Formulario-->
    <form action="">
        <fieldset>
            <legend>Formulario de registro</legend>
            <label for="name">Nombre</label>
            <input type="text" required id="name">
            <label for="apellido">Apellido</label>
            <input type="text" required id="apellido">
            <label for="fecha">Fecha de nacimiento</label>
            <input type="date" required id="fecha">
            <label for="direccion">Dirección</label>
            <input type="text" required id="direccion">
            <label for="celular">Celular</label>
            <input type="tel" required id="celular">
            <label for="mail">Email</label>
            <input type="email" required id="mail">
            <label for="pass">Contraseña</label>
            <input type="password" required id="pass">
            <input type="submit" value="Guardar">
            <input type="reset" value="Borrar">
        </fieldset>
    </form>

    <!--Footer-->
    <footer id="pie">
        <div id="caja1-ft"><img src="../img/logo.png" alt="logo" class="tamImglogo">
            <h4>BURGUESÍA GOURMET</h4>
        </div>
        <p>&copy;Micaela Sabrina Gordillo Zalazar</p>
        <div id="caja2-ft">
            <ol class="ft-1">
                <li><a href="../../index.html">INICIO</a></li>
                <li><a href="">CLÁSICAS</a></li>
                <li><a href="">PREMIUM</a></li>
                <li><a href="../views/extra.html">EXTRA</a></li>
                <li><a href="../views/formulario.html">REGISTRO</a></li>
            </ol>
        </div>
        <div id="caja3-ft">
            <ul>
                <li>Dirección: 9 de Julio 500 - Buenos Aires</li>
                <li>Tel:(011)12 0100-2222</li>
            </ul>
        </div>
        <div id="caja4-ft">
            <h5>Medios de pago</h5>
            <ul>
                <li><img src="../img/credit-card.png" alt="logo de tarjeta"></li>
                <li><img src="../img/banknote.png" alt="logo de efectivo"></li>
                <li><img src="../img/visa.png" alt="logo visa"></li>
                <li><img src="../img/mastercard.png" alt="logo mastercard"></li>
            </ul>
        </div>
    </footer>

</body>

</html>